<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>display page</title>
</head>
<body>
    <center>
        <h1>school details</h1>
        <table border="2px">
            <tr>
                <th>schoolname</th>
                <th>principal name</th>
                <th>address</th>
            </tr>
            {% for sinfo in info %}
            <tr>
                <td>{{sinfo.schlname}}</td>
                <td>{{sinfo.principal}}</td>
                <td>{{sinfo.address}}</td>
            </tr>
            {% endfor %}
           
        </table>
    </center>
</body>
</html>